# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignorer l’environnement virtuel
.venv/

# Ignorer les fichiers Python compilés
__pycache__/
*.pyc

# Ignorer les fichiers système
.DS_Store

.42c/
full_openapi.yaml
